<h1>Courses Asisted</h1>
<h2>Spring 2013</h2>
<ul>
  <li>
    <a href="javascript: setCourse('spring13', 'CMP2004');">
      <strong>CMP2004</strong> Advanced Programming
    </a>
  </li>
</ul>
<h2>Fall 2012</h2>
<ul>
  <li><strong>CMP2007</strong> Digital System Design</li>
</ul>
<h2>Summer 2012</h2>
<ul>
  <li><strong>CMPE3006</strong> Embedded Systems Programming</li>
</ul>
<h2>Spring 2012</h2>
<ul>
  <li><strong>CMPE3006</strong> Embedded Systems Programming</li>
  <li><strong>CMPE2004</strong> Advanced Programming</li>
</ul>
<h2>Fall 2011</h2>
<ul>
  <li><strong>CMP2007</strong> Digital System Design</li>
</ul>
<h2>Spring 2011</h2>
<ul>
  <li><strong>CMPE2004</strong> Advanced Programming</li>
  <li><strong>CMPE4003</strong> Formal Languages &amp; Automata Theory</li>
</ul>
<h2>Fall 2010</h2>
<ul>
  <li><strong>CMPE1403</strong> Introduction to Programming (Visual Basic)</li>
  <li><strong>CMPE3005</strong> Analysis of Algorithms</li>
  <li><strong>CMPE4501</strong> Artifical Intelligence</li>
  <li><strong>MATH1042</strong> Linear Algebra with MATLAB</li>
</ul>
