<img src="img/IMG_3033.JPG" style="width:200px; height:200px"/>
<div style="float:right; width:60%;">
  I am a research assistant @
  <h3><a href="http://www.bahcesehir.edu.tr">Bahcesehir University</a></h3>
  <h4><a href="http://cmpe.bahcesehir.edu.tr/en/faculty">Computer Engineering Department</a></h4>
  <br/>
  <p><span>can.ulker</span><img src="img/at-sign.png" style="width: 1em; height: 1em; padding-top: 0.5em"/><span>bahcesehir.edu.tr</span></p>
  <p>More information will be available soon.</p>

</div>

