<a href="javascript:
  loadContentFromPage('courses/spring13/CMP2004/index.html');">Back to
CMP2004</a>
<h1>Quiz I - a</h1>
<h2>Monday Section</h2>
<h3>Questions</h3>

<link rel="stylesheet" type="text/css" href="style/quiz.css"/>

<ol>
  <li>
  <p>
  When you override a method in a class, no matter with which type of
  reference you refer to that object, always overridden version is invoked. 
  <u class="right_answer">True</u>/False 
  </p>
  <p class="answer_section">
  <h5>Answer</h5> 
  In an object, always method definition available in the type that is closest
  to the object's type in the inheritance hierarchy is invoked. 
  <br/>
  See class <code
    class="prettyprint">bonus.overriding.example.test.Test</code> in Week5-6
  code available in <a href="javascript:
    loadContentFromPage('courses/spring13/CMP2004/index.html')">lab codes</a>
  section.
  </p>
  </li>
  <li>
  <p>
  Whenever an object is created at least one constructor is invoked. <u
    class="right_answer">True</u>/False
  </p>
  <p>
  <h5>Answer</h5>
  When an object is created always a constructor is invoked. If you give no
  arguments while creating a new object the empty constructor will be
  invoked even if you didn't define one. Besides whenever an object is
  created superclass' constructor is also invoked even if you don't write
  <code class='prettyprint'>super</code> in your constructors.
  </p>
  </li>
  <li>
  <p>
  You can access a static variable within an instance method. <u
    class='right_answer'>True</u>/False Why?
  </p>
  <p>
  <h5>Answer</h5>
  This is true because the static variables can be considered as shared 
  spaces among instances of that class. So the instances should be able to
  use them.
  </p>
  </li>
  <li>
  <p>
  If you don't initialize a local variable it takes a garbage value.
  True/<u class='right_answer'>False</u>
  </p>
  <p>
  <h5>Answer</h5>
  Garbage value is the values that a variable takes when it is not 
  initialized and continues to contain the value previously occupied at the
  allocated space in C/C++. In Java variables never get garbage value they 
  either are not initialized at all (for the case of local variables) 
  therefore not usable or they initialized with a default value (for numbers
  <code class="prettyprint">0</code>, for 
  <code class="prettyprint">boolean false</code>, for 
  <code class="prettyprint">char</code> null character 
  (<code class="prettyprint">'\0'</code>), for reference types <code
    class="prettyprint">null</code>).
  </p>
  </li>
  <li>
  <p>
  If there is no reference referring to an object, then that object is
  garbage collected. <code class="right_answer">True</code>/False
  </p>
  <p>
  <h5>Answer</h5>
  Java Virtual Machine can understand whether an object is further usable or 
  not by just checking whether there is a reference referring to it or not. If
  no reference referring to that object then it means the object is not 
  accessable anymore and there is no good in keeping it. Those kinds of 
  objects are collected by the <i>Garbage Collector</i>.
  </p>
  </li>
  <li> 
  <p>
  What possible compilation errors could you get from following line, give at
  least 2 reasons: 
  <pre class="prettyprint">
  A a = new B(3);
  </pre>
  </p>
  <p>
  <h5>Answer</h5>
  There could be many reasons for this. Here are some possible errors:
  <ul>
    <li>
    Types <code class="prettyprint">A</code> or <code
      class="prettyprint">B</code> might not exist at all.
    </li>
    <li>
    Types <code class="prettyprint">A</code> or <code
      class="prettyprint">B</code> are defined in some other package which was
    not imported
    into class that has the above expression.
    </li>
    <li>
    Types <code class="prettyprint">A</code> or <code
      class="prettyprint">B</code> might not be accessible, i.e. defined in
    somewhere else 
    as not <code class="prettyprint">public</code>.
    </li>
    <li>
    Types <code class="prettyprint">A</code> and <code
      class="prettyprint">B</code> may not be compatible, i.e. <code
    class="prettyprint">A</code> is <code class="prettyprint">B</code> be
    relation may not hold, which means <code class="prettyprint">B</code> does
    not extend <code class="prettyprint">A</code> directly or indirectly.
    </li>
    <li>
    Constructor for <code class="prettyprint">B</code> which takes a single
    <code class="prettyprint">int</code> might not be existing.
    </li>
    <li>
    <code class="prettyprint">B</code> might not be instantiatable i.e. <code
      class="prettyprint">B</code> is either an abstract class or interface.
    </li>
    <li>
    <code class="prettyprint">A</code> variable with name a could be defined
    before so its redefinition is a compilation error.
    </li>
    <li>
    Constructor of <code class="prettyprint">B</code> might be throwing a
    checked exception which means it had to be enclosed with an appropriate
    try-catch block or thrown from method by declaring it throws with that kind
    of exception.
    </li>
    <li>
    ...
    </li>
  </ul>
  </p>
  </li>
  <li>
  <p>
  Remember when a local variable has the same name with a field, we say "local
  variable 'shadows' a field.". Give two different solutions so that you can
  access both of them.
  </p>
  <p>
  <h5>Answer</h5>
  <ul>
    <li>
    You could use <code class="prettyprint">this</code> reference to refer to
    the variable that is field and use just the name to refer to the local
    variable.
    </li>
    <li>
    You could rename local variable's or field's name, if possible.
    </li>
  </ul>
  </p>
  </li>
  <li>
  <p>
  <pre class="prettyprint">
  String <u class="u_ref">s0</u>;
  String <u class="u_ref">s1</u> = <u class="u_obj">" some string "</u>;
  String <u class="u_ref">s2</u> = s1;
  String <u class="u_ref">s3</u> = <u class="u_obj">s1.replaceAll("s", "?")</u>;
  </pre>

  Assuming all program consist of just the above lines, how many string objects
  and references are there in the memory after 4th line? Give line numbers that
  result in object instantiations.

  </p>
  <p>
  <h5>Answer</h5>
  Those parts that are underlined <u class="u_ref">like this</u> are 
  references and the ones that are underlined 
  <u class="u_obj">like this</u> are the expressions that cause object 
  instantiation. Remember that class <code class="prettyprint">String</code> 
  is immutable, so all methods that return a <code class="prettyprint">String
	</code> actually instantiates a new one, without affecting the original one.
	<br/>
  <br/>
  So there are <u class="right_answer">4 references and 2 objects</u>.
	<br/>
  <br/>
  You could also argue that there are two more strings created in expressions
  <code class="prettyprint">"s"</code> and <code class="prettyprint">"?"</code>.
  That's right, they are also string objects, so that's a correct answer as 
  well. But when you think about the objects that will continue to live the
  number is 2. 
  <br/>
  <br/> 
  For the case of <code class="prettyprint">String</code>s there is
  also something special going on called <code class="prettyprint">String</code>
  interning. If you are interested in such advanced topics, you may want refer
  to this <a href="http://en.wikipedia.org/wiki/String_interning">link</a> and
  also google it.
  <br/> 
  </p>
  </li>

</ol>
