<a href="javascript:
  loadContentFromPage('courses/spring13/CMP2004/index.html');">Back to
  CMP2004</a>
<h1>Quiz I - b</h1>
<h2>Tuesday Section</h2>
<h3>Questions</h3>

<link rel="stylesheet" type="text/css" href="style/quiz.css"/>

<ol>
  <li>
  <p>
  After you override a method in a class, that method is lost forever for that
  class and there is no way to access it. True/<u class="right_answer">False</u>
  </p>
  <p class="answer_section">
  <h5>Answer</h5>
  Within that class you can still access the overridden method by using the 
  <code class="prettyprint">super</code> reference.
  </p>
  </li>
  <li>
  <p>
  Whenever an object is created its super classes' constructor is invoked.
  <u class="right_answer">True</u>/False
  </p>
  <p class="answer_section">
  <h5>Answer</h5>
  Every object in Java (excluding Object class) has a superclass either you
  declare it or not, so such a constructor exists. Remember you can invoke
    superclass constructor using <code
    class="prettyprint">super(...);</code> in the first line of your
  constructors. Even if you don't write such a line, the default constructor of
  superclass is invoked.
  <br/>
  <br/>
  As a consequence, for example, you cannot subclass a class with no accessible
  constructors, since compiler will try to access them when you want to create
  an instance of that type. Or if the superclass has no default/empty
  constructor, you are responsible from calling an appropriate superclass
  constructor; if you don't it's a compilation error.
  </p>
  </li>
  <li>
  <p>
  You can access an instance variable within a static method. True/<u
    class="right_answer">False</u> Why?
  </p>
  <p>
  <h5>Answer</h5>
  Instance variables are members for which each instance has a copy of them,
  they cannot exist without an instance. Static methods are the codes that are
  shared among instances and independent from them. It is not logical to access
  an instance variable within a static method since there might be no instance
  at all. Or if there are several instances, from which instance are you going
  to select your variable?
  </p>
  </li>
  <li>
  <p>
  Give two different usages examples for <code class="prettyprint">this</code>
  keyword. Briefly explain.
  </p>
  <p>
  <h5>Answer</h5>
  <ul>
    <li>
    <code class="prettyprint">this.x</code> <br/>
    Above code accesses a field of this class it is written in. You can use it
    to distinguish the field <code class="prettyprint">x</code> from local
    variable <code class="prettyprint">x</code>. You can also access methods 
    of that class, but it has no functional use, only about 
    cosmetic/readability.
    </li>
    <li>
    <code class="prettyprint">this(...);</code> <br/>
    Above code invokes another constructor within the same class when used as
    the first line of a constructor. It can be used at nowhere else.
    </li>
  </ul>
  </p>
  </li>
  <li>
  <p>
  If you don't initialize a local variable it takes the default value of its
  type. True/<u class="right_answer">False</u>
  <p>
  <h5>Answer</h5>
  Local variables do not get initialized if you don't explicitly initialize 
  them. You can also not use an uninitialized local variable. You first have to
  make sure that there is at least one successful assignment to it.
  </p>
  </li>
  <li>
  <p>
  Package declaration should come before every other declaration and statements
  (imports, class declaration). <u class="right_answer">True</u>/False
  <p>
  <h5>Answer</h5>
  Java syntax requires package declarations (if there is any) to be the first
  code within that file. Note comments may precede a package declaration since
  it is discarded by compiler.
  </p>
  </li> 
  <li>
  <p>
  In Java objects are always allocated in heap space rather than stack space.
  <u class="right_answer">True</u>/False
  <p>
  <h5>Answer</h5>
  All the object allocation in Java is done on heap space. So this helps arrays
  to have sizes decidable at runtime, objects to live even though the scope they
  are defined in ends, etc. The heap space is automatically released by Garbage
  Collector when no longer used, i.e. no reference referring to that object.
  <br/>
  <br/>
  Only the local variables are allocated from stack, e.g. numbers, booleans,
  references, etc. 
  </p>
  </li>
  <li>
  <p>
  In what case would you declare a field as <code
    class="prettyprint">private</code> and have a getter/setter for it? What is
  the difference between this case and the case declaring that variable as <code
  class="prettyprint">public</code> and not having accessor (get/set) methods.
  <p>
  <h5>Answer</h5>
  If you want to be in control of your variable and be directly modified and
  accessed only within that class, you would declare it <code
    class="prettyprint">private</code>. For example you wouldn't want your <code
    class="prettyprint">age</code> field to be directly accessible, since some
  developer using you code might put some unwanted value like a negative number.
  If you made it <code class="prettyprint">private</code> and added a setter
  method, you could control which values can be actually set by checking whether
  it is a valid value, if it wasn't you can even throw an <code
    class="prettyprint">IllegalArgumentException</code> and punish that bad
  developer. :) 
  <br/>
  <br/>
  In such a case, and in general you should consider using <code
    class="prettyprint">private</code> access modifier. Because accessing a
  variable from less places in your code helps you reduce your search space when
  there is a bug and you try to find the source. It would be much worse if the
  invalid value was set, and there comes a catastrophic bug at an almost
  unrelated place later in the execution. Such bugs would be real hard to find.
  This concept is called encapsulation. 
  </p>
  </li>
</ol>

