<a href="javascript:
  loadContentFromPage('courses/spring13/CMP2004/index.html');">Back to
  CMP2004</a>
<h1>Quiz I - c</h1>
<h2>Wednesday Section</h2>
<h3>Questions</h3>

<link rel="stylesheet" type="text/css" href="style/quiz.css"/>

<ol>
  <li> 
  <p>
  You can invoke superclass' constructor via both <code
    class="prettyprint">this</code> and <code class="prettyprint">super</code>
  keywords. True/<u class="right_answer">False</u>
  </p>
  <p>
  <h5>Answer</h5>
  Even though you might think that you can (since you can access to methods and
  fields of superclass via <code class="prettyprint">this</code> keyword) 
  <code class="prettyprint">this</code> keyword can only be used for the
  constructors that are defined within the same class. If you want to invoke the
  superclass' constructor you should use <code class="prettyprint">super</code>
  keyword.
  </p>
  </li>
  <li>
  <p>
  You cannot use a local variable before it was explicitly initialized.
  <u class="right_answer">True</u>/False
  </p>
  <p>
  <h5>Answer</h5>
  Local variables in Java do not get garbage value or do not get implicitly
  initialized. It is also a compilation error to use an uninitialized local
  variable. 
  </p>
  </li>
  <li>
  <p>
  Every Java array knows its own size, so you don't need to also pass a length
  argument along with that array when you want to pass that array to a method as
  argument. <u class="right_answer">True</u>/False
  </p>
  <p>
  <h5>Answer</h5>
  Since Java arrays are objects and they have a <code
    class="prettyprint">final</code> field <code
    class="prettyprint">length</code>, you don't need to send accompanying
  length to a method along with your array. <br/>
  <br/>
  In C++ this is not the case, since
  arrays are just pointers, and pointers can only tell you the starting element.
  You would have no idea about how many elements does that array consist of if
  you didn't know the length.
  </p>
  </li>
  <li>
  <p>
  Type of a reference can be more specific then the type of the object that it
  refers to. True/<u class="right_answer">False</u>
  </p>
  <p>
  <h5>Answer</h5>
  Type of the reference cannot be more specific (below in the type hierarchy),
  but the opposite is true. Being able to keep a object with more specific type
  using a reference with more general type is the essence of
  <i>Polymorphism</i>.
  </p>
  </li>
  <li>
  <p>
  Give 2 different usages examples for keyword <code
    class="prettyprint">final</code>. Explain briefly.
  </p>
  <p>
  <h5>Answer</h5>
  <ul>
    <li>
    <p>
    <code class="prettyprint">final int a = 5;</code><br/>
    <br/>
    This type of declarations can be used to declare constants, you cannot
    reassign to such variables.  
    </p>
    <p>
    Side note:<br/>
    This also has an important specific usage. When we come to <i>Event
      Handling</i> topic in GUI lectures you will be introduced inner classes.
    When accessing local variable from inner classes, Java requires those
    variables to be declared <code class="prettyprint">final</code>. 
    </p>
    </li>
    <li>
    <p>
    <code class="prettyprint">public final String toString() { ...</code><br/>
    <br/>
    Declaring a method as <code class="prettyprint">final</code> means that you
    cannot override them within the subclasses, so that method takes its final
    form, cannot be altered later. 
    </p>
    </li>
    <li>
    <p>
    <code class="prettyprint">public final class Triangle ...</code><br/>
    Declaring a class as <code class="prettyprint">final</code> means that class
    cannot have subclasses, i.e. extended. So the class becomes the final node
    of the current branch of type tree.
    </p>
    </li>
  </ul>
  </p>
  </li>
  <li>
  <p>
  When you leave the scope in which an object is created, that object is garbage
  collected. True/<u class="right_answer">False</u>
  </p>
  <p>
  <h5>Answer</h5>
  <p>
  This is a tricky question measuring whether you understand why Java objects
  are allocated from heap space. Since they are allocated from heap space they
  will live as long as there is at least one reference referring to it. 
  </p>
  <p>
  To understand why, let's give an example. Most of your methods will return a
  reference to an object that is created within that method. If that object was
  garbage collected as soon as the method finishes, then there would be no
  meaning in returning it since it would be unusable. Take <code
    class="prettyprint">toUpperCase()</code> method as an example. Remember all
  <code class="prettyprint">String</code> methods return a new object, and
  content of original object is never changed. In that case result of the call
  to that method would yield nothing. 
  </p>
  </p>
  </li>
  <li>
  <p>
  In Java array objects can be resized after they allocated. True/<u
    class="right_answer">False</u>
  </p>
  <p>
  <h5>Answer</h5>
  As in C/C++, Java arrays are also cannot change their size once they are
  allocated. But you can always create a new array object with desired size and
  make your reference refer to that object, this will give the illusion of
  resizing array. But note that allocated array object sizes never change. 
  </p>
  </li>
  <li> 
  <p>
  Types in Java are divided into two categories: <u
    class="right_answer">reference</u> / <u class="right_answer">primitive</u> 
  <br/> 
  Why is it important to know this distinction? Give at least 2 reasons.
  </p>
  <p>
  <h5>Answer</h5>
  <ul>
    <li>
    <p>First difference you need to note is primitive type variables actually
    hold the value of their types in their allocated space. On the other hand,
    variables with reference type keeps the address (location) of the allocated 
    space (the object) that actually keep values. </p>
    </li>
    <li>
    <p>
    This distinction is also important to know when calling methods with some
    arguments. If the argument type is a primitive type then the value is just
    copied to parameter. For reference types, the just the reference is copied,
    but the value (in this case the object's fields, for example) is shared
    among callee and caller. So the method can do some modifications via that
    parameter, those modifications will be visible when that method returns to
    callee since they are referring to the same object.
    </p>
    </li>
    <li>
    <p>
    You could also argue that it is important for understanding how arrays
    work. If you declare an array of a reference type (<code
      class="prettyprint">String[]</code> for example), you are actually
    declaring an array of <code class="prettyprint">String</code> references,
    not an array of <code class="prettyprint">String</code> objects! The cells
    of such arrays will refer to the objects of that type. For the primitive
    type array case, cells actually hold the values, so you don't need any space
    other than the space allocated for the array. Still this could be thought as
    a special case for the first item of this answer.
    </p>
    </li>
  </ul>
  </p>
  </li>

</ol>

