<a href="javascript:
  loadContentFromPage('courses/spring13/CMP2004/index.html');">Back to
CMP2004</a>
<h1>Quiz I - d</h1>
<h2>Thursday Section</h2>
<h3>Questions</h3>
 
<link rel="stylesheet" type="text/css" href="style/quiz.css"/>

<ol>
  <li>
  <p>
  You cannot use a member variable (field) before it was explicitly initialized.
  True/<u class="right_answer">False</u>
  </p>
  <p>
  <h5>Answer</h5>
  It is not mandatory to explicitly initialize fields. If you don't initialize
  them they are initialized to default values of their types. Since they are
  initialized either explicitly or implicitly, you can use them whenever you
  want.
  </p>
  </li>
  <li>
  <p>
  Type of an object can be more specific then the type of reference referring to
  that object. <u class="right_answer">True</u>/False
  </p>
  <p>
  <h5>Answer</h5>
  According to <i>Polymorphism</i>, references with general types can refer to
  objects with specific types. You can see why this is logical if you think that
  all the methods and fields supported by the reference type is already
  supported by the object type, since the object type inherits all members of
  the reference's type. So when you want to access a field or method there won't
  be anything undefined. But when you think about the opposite, you can easily
  see it is not possible since subclasses will often introduce new members. 
  </p>
  </li>
  <li>
  <p>
  When you pass a reference variable to a method, the object that reference
  refers to is copied to that method's local scope. 
  <u class="right_answer">True</u>/False
  </p>
  <p>
  <h5>Answer</h5>
  When call a method with a reference argument, the object behind that reference
  is being shared with caller and callee, rather than copying. 
  </p>
  </li>
  <li> 
  <p>
  Keyword you use to invoke a super class' constructor is      : 
  <u class="right_answer"><code class="prettyprint">super</code></u>.<br/> 
  Keyword you use to invoke a constructor within same class is : 
  <u class="right_answer"><code class="prettyprint">this</code></u>.
  </p>
  </li>
  <li>
  <p>
  Assigning wider values to narrower types requires type casting. 
  <u class="right_answer">True</u>/False
  </p>
  <p>
  <h5>Answer</h5>
  This is so because you have to be aware that you could lose precision. For
  example, <code class="prettyprint">double</code> is a much more precise data
  type than <code class="prettyprint">float</code>, so you have to be sure and
  shouldn't be assigning a <code class="prettyprint">double</code> into a 
  <code class="prettyprint">float</code> accidentally. Compiler does not compile
  such code, and require you to cast that type explicitly. Other way around is
  no problem since the wider type can easily hold the narrower one, so you don't
  need to cast.
  </p>
  </li> 
  <li>
  <p>
  Suppose you are writing the class <code class="prettyprint">A</code> in
  package <code class="prettyprint">p1</code>, in which you need to use some
  class <code class="prettyprint">B</code> which is in package <code
    class="prettyprint">p1.p2</code>. Would you need to import class <code
    class="prettyprint">B</code> into class <code class="prettyprint">A</code>? 
  Why?
  </p>
  <p>
  <h5>Answer</h5>
  <p>
  You need to import <code class="prettyprint">B</code> into 
  <code class="prettyprint">A</code> since they are in distinct packages. You
  always need to import or use fully qualified name to use a class that belongs
  to a different package.
  </p>
  <p>
  Even though <code class="prettyprint">p1.p2</code> packages looks as if it is
  contained in <code class="prettyprint">p1</code> so that you don't need to
  import, well, that's not the case.  Java regards them as separate packages,
  there is no relationship between them semantically. 
  </p>
  </p>
  </li>
  <li> 
  <p>
  Java arrays are also objects rather than being just a pointer (which was the
  case in C++), i.e. it has fields and methods. True/False
  </p>
  </li> 
  <li>
  <p>
  <pre class="prettyprint">
    // this is just a reference:
    <span class="nocode">#1</span> String s; 
    // an array object is created but no String objects are created yet.
    // following is an array of String references, not array of String objects!
    <span class="nocode">#2</span> String[] strs = new String[5]; 
    // here comes the first String object:
    <span class="nocode">#3</span> s = <u class="u_obj">"string"</u>; 
    // 0th cell of array refers to the same object as s, no object created:
    <span class="nocode">#4</span> strs[0] = s; 
       for (int i = 1; i &lt; strs.length; ++i) {
         // this loop runs 4 times, so following line creates 4 String objects:
         strs[i] = <u class="u_obj">String.valueOf(i)</u>; 
       }
    <span class="nocode">#5</span>
  </pre>
  <br/>

  How many different String objects are there in the memory after the numbered
  lines? Write in the following format: <br/>

  <pre class="prettyprint">
    #1: 1 objs
    #2: 2 objs
    #3: 3 objs
    #4: 4 objs
    #5: 5 objs
  </pre>
  <br/>

  Also <u class="u_obj">underline</u> the parts where <code
    class="prettyprint">String</code> objects are instantiated.
  </p>
  <p>
  <h5>Answer</h5>
  <pre class="prettyprint">
    #1: 0 objs
    #2: 0 objs
    #3: 1 objs
    #4: 1 objs
    #5: 5 objs
  </pre>
  <br/>
  </p>
  </li>
</ol>
