<a href="javascript: javascript: setCourse('spring13', 'CMP2004');">Back to
  CMP2004</a>
<h1>Assignment I</h1>
<p>
This homework is intended to make you do a practice by yourself. It will
<i><u>not be graded</u></i>. Please give your own effort into it and think
throughly. You may also think of this as a preparation for your midterm exam.
Your request for help or suggestions from me is welcome, but please do not send
your codes via e-mail. Instead, come to lab and ask in-person.
</p>

<h2>Nutrition in Nature</h2>

<p>
You will create a class hierarchy to represent one part of natural life-cycle:
nutrition in nature. First of all everything is an <code
class="prettyprint">LivingEntitiy</code> and they each have their own mass and
they can eat some of the other <code class="prettyprint">LivingEntities</code>.
You will only model kingdoms <code class="prettyprint">Animals</code> and <code
class="prettyprint">Plants</code>. The animals and their taxonomic classes that
you are going to model are: <code class="prettyprint">Lion, Deer, Rat (Mammals),
Eagle, Raven (Birds), Snake (Reptiles), Fly, Ant (Insects)</code>. For plants
let's only have the exotic Venus Flytrap (Dionaea muscipula). Also some entities
only eat animals (<code class="prettyprint">Carnivores: Lion, Snake</code>,
etc.), some only eat plants (<code class="prettyprint">Herbivores: Deer, Rat,
VenusFlytrap</code>) and some of them can eat both (<code
class="prettyprint">Herbivore and Carnivore: Raven, Insect</code>). Every animal
should make some voice specific to each of them. It is enough if you just print
something, so you don't have to remove the entities from the habitat.
</p>

<p>
Believe it or not, Venus Flytrap is a carnivore plant, here is the proof: 
</p>

<p>
(Disclaimer: May not be appropriate for sensitive people)<br/>
<a href="http://www.youtube.com/watch?v=O7eQKSf0LmY">Life - Venus Flytraps: Jaws
  of Death - BBC One</a> 
</p>

<p>
As you can imagine only specific animals and plants can have instances; but for
example, classes <code class="prettyprint">Animal, Plant, Entity,
Carnivore</code> etc. should not be instantiatable. 
Ability to eat for entities is defined as follows: If their diet fits (carnivor
eats animal, herbivore eats plant), then you should check whether the animal
that is going to eat has at least mass twice of the entitiy they will eat;
otherwise they shouldn't be able to eat. Eat methods of living entities should
print something unique to the type of that entity (be creative, e.g.: Lion:
NomNomNom!!!); you can use voice here or print something different as well, it
is up to you.
</p>

<p>
You are given an abstract class <code class="prettyprint">NaturalHabitat</code>,
and test usage code in <code class="prettyprint">NutritionSimulation</code> for
it. You need to create a subclass of it and override the abstract methods. You
should be able to run that simulation using your own class hierarchy.
</p>

<h3>NaturalHabitat class: </h3>
<pre class="prettyprint">
public abstract class NaturalHabitat {

  private int currentCount;
  private final LivingEntity[] entities;

  public final int getEntityCapacity() {
    return entities.length;
  }

  public NaturalHabitat(int entityCapacity) {
    this.entities = new LivingEntity[entityCapacity];
    this.currentCount = 0;
  }

  protected final LivingEntity getEntity(int index) {
    return entities[index];
  }

  protected final boolean isNotFinalEntity(int index) {
    return index &lt; currentCount;
  }

  public final void addEntity(LivingEntity entity) {
    if (!hasEmptyRoom()) {
      throw new RuntimeException("No more rooms! Max: "
          + getEntityCapacity() + ", current: " + currentCount);
    }
    entities[currentCount++] = entity;
  }

  public final boolean hasEmptyRoom() {
    return currentCount != getEntityCapacity();
  }

  @Override
  public final String toString() {
    // make a string representation of entities.
    String repr = java.util.Arrays.toString(entities);

    // remove first and last character:
    repr = repr.substring(1, repr.length() - 1);

    // replace all ', ' (comma followed by space) with a new line character,
    // so that all entities will be on top of another.
    repr = repr.replaceAll(", ", "\n");

    // return it.
    return repr;
  }

  public final void eatEachOther() {

    for (int i = 0; i &lt; currentCount; ++i) {
      for (int j = 0; j &lt; currentCount; ++j) {

        // for each i,j pair, we check whether i can eat j
        if (i != j &amp;&amp; canEat(i, j)) {
          System.out.println();

          LivingEntity predator = getEntity(i);
          LivingEntity victim = getEntity(j);

          // override the eat method in each entity,
          // so they have their *unique* way of eating ;)
          predator.eat(victim);
        }
      }
    }
  }

  protected abstract boolean canEat(int predatorIndex, int victimIndex);

  public abstract void makeNoise();

}
</pre>

<br/>
<br/>

<h3>NutritionSimulation class: </h3>
<pre class="prettyprint">
public final class NutritionSimulation {

  private NutritionSimulation() {
  }

  public static void main(String[] args) {

    // note that this code will not compile as is, unlike the NaturalHabitat
    // class. You need to fit this code into java syntax and complete it 
    // correctly so that a simulation can be run with the habitat that
    // you are going to create.

    NaturalHabitat habitat = new //...
    // create an instance of your own habitat class that derives from 
    // NaturalHabitat.

    // add some entities.
    habitat.addEntity(new Eagle(...));
    habitat.addEntity(new Lion(...));
    habitat.addEntity(new Snake(...));
    habitat.addEntity(new Raven(...));
    habitat.addEntity(new Fly(...));
    habitat.addEntity(new VenusFlytrap(...));
    habitat.addEntity(new Deer(...));
    // ... add one for each of your animals

    System.out.println("Content of our habitat: \n" + habitat);
    System.out.println();

    habitat.makeNoise();

    habitat.eatEachOther();

  }

}
</pre>

<br/>
<br/>

<h2>Hints</h2>

<ul>
  <li>
  Use your imaginantion and remember that this is an object oriented programming
  assingment. 
  </li>
  <li>
  Please try to make use of polymorphism, inheritance, encapsulation and try to
  write as little code as possible by making use of existing ones. 
  </li>
  <li>
  Try to find a good use for each language feature we learned like interfaces,
  abstract classes, overriding, etc.
  </li>
  <li>
  Try to make a good package structure and write your code as tidy as possible
  by caring about indentation, identifier naming, etc. 
  </li>
  <li>
  Override the <code class="prettyprint">toString</code> methods wherever
  necessary to see meaningful outputs.
  </li>
  <li>
  Also ask yourself why the code given is written in that way, e.g: 'what is the
  reason that this method is defined as <code
  class="prettyprint">protected</code>?'
  </li>
  <li>
  If you have problems understanding the existing code, or you cannot get what
  you expected, then debug your own code, run it line-by-line to understand what
  is going on.
  </li>
  <li>
  Abstract classes not necessarily have abstract methods. For example if you
  don't want a class to have instances of that type, you can declare that class
  with <code class="prettyprint">abstract</code> modifier.
  </li>
  <li>
  In some cases interfaces may be empty, i.e. has no method in them. In that
  case you just use them so that you group some different classes together under
  a certain name. So this is perfectly legal. These types of interfaces are
  called 'tagging interface'.
  </li>
  <li>
  You can modify the given code if think you found a better solution. But the
  given code gives your code a certain structure. Try to follow it as much as
  you can.
  </li>
  <li>
  If you see an unncessary class or interface, you may simply omit them. For
  example, for this homework you don't really need to have classes like <code
  class="prettyprint">Bird, Reptile, Mammal</code>.
  </li>
</ul>

<br/>
<br/>

<h2>Attachments</h2>
<p>
You can find the above code by downloading <a
  href="courses/spring13/CMP2004/hw/hw1codes.rar">this link</a>.
</p>

