<a href="javascript: javascript: setCourse('spring13', 'CMP2004');">Back to
  CMP2004</a>
<h1>Assignment II</h1>

<b>Deadline: <time>25/04/2013 23:59PM</time> </b>
<p>
Please make sure you <u>read and understand</u> this whole document (especially
<a href="#h_honorcode">Honor Code</a> and <a href="#h_submission">Submission</a>)
otherwise your submission <u>may get penalty</u> or even <u>may not be
  evaluated</u> for grading at all. For this homework you will <u>not be asked to
  demonstrate</u> your work unless there is suspicion in honesty.
</p>

<h2>Simple Register/Sign-In Interface</h2>
<p>
In this assignment you will create a Graphical User Interface which can be used
to register a user, or let user who is already registered to system login. Here
is the expected output of your application:
</p>

<p>
<img src="courses/spring13/CMP2004/hw/gui.png"></img>
</p>

<p>
This homework requires you to use some GUI classes we have not seen in lab or
theoretical lectures, so you will need to do some research on how to use them.
You may refer to <a href="#h_hints">hints</a> for some directions.
</p>

<h3 id="h_goals">Goals</h3>
<ol>
  <li>
  Make your design as much close as possible to above design, it doesn't have to
  match exactly, just do your best. 
  </li>
  <li>
  Make use of following GUI components:
  <ol>
    <li>JFrame</li>
    <li>JLabel</li>
    <li>JTextField</li>
    <li>JButton</li>
    <li>JComboBox</li>
    <li>JSpinner</li>
    <li>JPasswordField</li>
    <li>JPanel</li>
    <li>JMenuBar</li>
    <li>JMenuItem</li>
  </ol>
  </li>
  <li>
  Instead of using absolute positioning, make use of at least 2 of the following
  LayoutManager classes:
  <ol>
    <li>GridLayout</li>
    <li>BorderLayout</li>
    <li>FlowLayout</li>
  </ol>
  </li>
</ol>

<h3 id="h_hints">Hints</h3>
Following these hints may make your design look better:
<ul>
  <li>
  You can find almost any information you need for this homework in the
  following link. You can find usage examples and sample codes for Java GUIs.
  <br/>
  <a href="http://docs.oracle.com/javase/tutorial/uiswing/components/componentlist.html">
    How to Use Various Components</a> 
  </li>
  <li>
  Create a JMenuBar instance and add some JMenuItem instances into it, just like
  you add some JButtons or JLabels into a JPanel. Then you may use setMenuBar
  method of JFrame class to make your frame show the menu bar correctly.
  </li>
  <li>
  You may use following code to create border with title for your containers
  (like JPanel):
  <pre class="prettyprint">
    component.setBorder(BorderFactory.createTitledBorder("title"));</pre>
  </li>
  <li>
  GridLayout can useful in this homework, but do not overuse it. It will cause
  the components directly added into it to stretch, so that all have equal width
  and height among themselves. Try to use other LayoutManagers if you see this
  stretching behaviour.
  </li>
  <li>
  You may use empty JLabels or empty JPanels, when you need to occupy a region
  of a container. 
  </li>
  <li>
  You may make use of BorderLayout properties. Remember north and south regions
  do not change their vertical size, west and east regions do not change their
  horizontal size, center always get resized in both directions when a
  component is added into these regions.
  </li>
</ul>

<h3>Grading</h3>
<ol>
  <li><b>35% : Meet design <a href="#h_goals">goals</a>.</b></li>
  <li><b>30% : Code readability, reuse.</b> Your code should be easily
  understandable, broken into appropriate methods, your code should not be
  consisting of too long methods or classes. Break your methods when they get
  too long into many methods. Use meaningful and descriptive names for your
  variables, classes, methods, etc. Also do not add any unnecessary code, make
  sure you understand well all the code you have written, or taken from
  examples. </li>
  <li><b>10% : Code tidiness.</b> Your code should look neat. Make sure you make
  good indentation.</li>
  <li><b>10% : Error free code.</b> There should be no compile-time or runtime
  error in your code.</li>
  <li><b>10% : Comment code wherever necessary.</b> Do not use too much comment,
  but comment when what you do is not trivial.</li>
  <li><b> 5% : <a href="#h_submission">Submission</a> rules.</b>
</ol>

<h3>Challenges</h3>
If you think this homework is too easy and you don't feel satisfied, you may
want to accomplish followings: 
<ul>
  <li>
  Try to make your design exactly match the given design.
  </li>
  <li>
  Make JTextFields, JComboBoxes and JSpinners stretch when necessary, but not
  JButtons.
  </li>
  <li>
  Keep the distance between components in vertical direction constant, do not
  let them get separated when you stretch frame vertically.
  </li>
  <li>
  Keep the buttons aligned to bottom while keeping other components aligned to
  top.
  </li>
  <li>
  Make the sign-in and register parts have always equal width and height, and
  give their borders with texts.
  </li>
  <li>
  Try to find a way to make buttons only occupy space that is sufficient to
  them, i.e. do not let them stretch when the window is stretched. 
  </li>
  <li>
  Add some events, e.g. like when the buttons are pressed show a message or
  confirmation dialog.
  </li>
  <li>
  Make this boring design more interesting using your imagination!
  </li>
</ul>


<h3 id="h_honorcode">Honor Code</h3>
<p>
By sending a submission you are considered to sign the following honor code.
</p>

<p>

<i>
  On my honor as a student;
  <ul>
    <li>The work I have sent contains only my labor, except those I mentioned.
    If I used any other person's code, I attributed the source by writing URL of
    that source into appropriate place in my code.
    </li>
    <li>I might discuss about solution in Turkish or in English, but I have
    <b>never talked in Java or in any other programming language. This includes
      any kind of sharing complete or partial source code with other students.
    </b>
    </li>
    <li>In case I violate this code, I will accept any punishment regarding
    to evaluation of my homework; including getting grade penalty, getting zero
    grade or disciplinary actions of university regulations.
    </li>
  </ul>
</i>

<p>
Upon inspection of your code, if there is a suspicion that you violate this
code, you will be asked to defend your work and respond to the questions about
your source code.
</p>

</p>

<h3 id="h_submission">Submission</h3>
<h4>WARNING</h4>
<p>
There is <b>no group</b> for this homework, so this your submission should only
contain your individual own work. And please make sure you follow honor code
exactly, there won't be any tolerance.
</p>

<h4>Procedure</h4>
<p>
Please compress (.zip, .rar, etc.) your <b>project folder</b> that you can find
in your <b>workspace folder</b>. Before you compress your project, make sure
that you <b>delete "bin" folder</b> in your project folder, if there is one.
Rename your compressed file to reflect which homework (Hw2), your name and your
student number, all separated with an underscore (_).
</p>
<p>
Send the file attached to <b>cmpe2004<img src="img/at-sign.png" style="width:
1em; height: 1em; padding-top: 0.5em"/>gmail.com</b> (note that it is cmpe not
cmp) from your student e-mail. Write which homework you are sending (Hw2), your
name and your student number separated with hyphen ( - ) into subject field.
After sending the mail you <b>should get an automated reply</b>. If you don't
get that it may be the case your submission is not received. Retry or give me
in-person.
</p>

<p>
Not doing any one of these will return as a 5% penalty in grade.
</p>

<h4>Example Submission</h4>
<p>   To: cmpe2004<img src="img/at-sign.png" style="width: 1em; height: 1em;
padding-top: 0.5em"/>gmail.com 
<br/> Sender: ceyhuncan.ulker<img
src="img/at-sign.png" style="width: 1em; height: 1em; padding-top:
0.5em"/>stu.bahcesehir.edu.tr 
<br/> Subject: Hw2 - Ceyhun Can ULKER - 1060626
<br/> Content: (You may leave empty here) 
<br/> Attachments: Hw2_Ceyhun_Can_ULKER_1060626.rar
</p>
</p>

