<a href="javascript: setCourse('spring13', 'CMP2004');">Back to
  CMP2004</a>
<h1>Project</h1>

<b>Deadline: <time>21/05/2013 23:59PM<time> </b> 
<p>
Please make sure you <u>read and understand</u> this whole document (especially
<a href="#h_honorcode">Honor Code</a> and <a href="#h_submission">Submission</a>)
otherwise your submission <u>may get penalty</u> or even <u>may not be
  evaluated</u> for grading at all. For this project <u>will be asked to
  demonstrate</u> your work. You may form a group of <u>at most 2 people</u>. 
  Schedule will be announced later here.
</p>

<h2>Typing Game</h2>

<h3>Summary</h3>
<p>
In this project you will write a game application in which player has to type the flowing words (falling bombs) fast enough to win. In the screen, some words with various length will slowly fall down and player has to type the whole word before the bomb travels to the bottom of screen.
</p>

<h3>Details</h3>

<style type="text/css">
img { width: 15%; height: 15% }
</style>

<p>
There will be three types of bombs:
<ol>
  <li>
    <b>Normal Bomb :</b>  This bomb will move at constant speed from top to bottom, and if player types in whole word, you should just remove it. If it hits the ground, player loses and game is over. <br/>

    <img src="courses/spring13/CMP2004/hw/normal-bomb.png"/>

  </li>
  <li>
    <b>Timed Bomb :</b>  This bomb is like the normal bomb but does not wait until hitting ground to explode. When the time limit is reached, it will explode and game is over. It also shows how many seconds left to explosion. <br/>

    <img src="courses/spring13/CMP2004/hw/timed-bomb.png"/>

  </li>
  <li>
    <b>Splitting Bomb :</b>  This bomb is like the normal bomb but when player finishes it by typing, it will split into 2-3 normal bombs (how many you like). <br/>

    <img src="courses/spring13/CMP2004/hw/split-bomb.png"/>

  </li>
</ol>
</p>

<p>
There will be three levels of difficulty (Easy, Medium, Hard) with varying number of bombs, falling speed, appearing interval, bomb types. You may decide these, here is an example difficulty scheme:
<ol>
  <li>Easy: Only 10 normal bombs, that falls to ground 10 seconds after they enter to screen and a new one comes every second.</li>
  <li>Medium: 10 normal, 10 timed bombs, 8 seconds to fall, new bomb per 0.8 seconds.</li>
  <li>Hard: 5 normal, 5 timed and 10 splitting bombs, 5 seconds to fall, new bomb per 0.5 seconds.</li>
</ol>
Optionally each difficulty level may have different background.
</p>

<h3>Example Games</h3>

<p>
Here are some sample games of this type:
</p>

<ul>
<li><a href="http://www.shockwave.com/gamelanding/typershark.jsp">Type Shark</a></li>
<li><a href="http://phoboslab.org/ztype/">Z-Type</a></li>
<li><a href="http://www.onlytypinggames.com/games/alpha-attack/">Alpha Attack</a> - Note that in this example you only need to type single letters, but in your game words should be the target.</li>
</ul>

<h3>Rules</h3>
<ol>
  <li>
    When player presses a key in keyboard (say <b><i>x</i></b>) you pick the word that starts with <b><i>x</i></b>, if there is no such word, nothing happens (maybe you can give a sound to let player know he entered something invalid). Let's call this word the <b><i>selected</i></b>.
    <br/> 
    <br/>
    E.g. There are words "work", "harder", "make", "better" and the player hits <i>b</i>, word "better" is the <b><i>selected</i></b> one.
  </li>
  <li>
    When there is a <b><i>selected</i></b> word and player hit a key (or when the word is first <b><i>selected</i></b> by hitting a key), if the first character of the remaining is the same as the entered character you remove the first character.
    <br/> 
    <br/>
    E.g. The remaining characters of <b><i>selected</i></b> word is <i>tter</i> and user hits <i>t</i>
 key, then <b><i>selected</i></b> becomes <i>ter</i>.</li>
  <li>
    When the player types in the last character of the <b><i>selected</i></b> word, that word is gone and necessary action is taken according to bomb type (just remove?, split?), so the game will wait for the condition in the first rule again.
  </li>
  <li>
    If a bomb hits ground or timed bomp explodes then declare game over.
  </li>
  <li>
    Randomly or at a fixed interval new bombs will enter the scene, and when the fixed number of bombs are eliminated player will be declared winner.
  </li>
</ol>


<h3>Graphical User Inteface</h3>
You will create a menu bar to let player adjust diffuculty, close application and see your (project members') information. 
<br/>

<pre>
Game
|-->High Scores   : Shows the frame with highest scores table. (optional)
|-->Exit          : Closes application.
Diffcultiy 
|-->Easy          : Start game with easy difficulty settings.
|-->Medium        : Start game with medium difficulty settings.
|-->Hard          : Start game with hard difficulty settings.
About             : Shows a dialog that brings information about your project members.
</pre>
<br/>

Project member information should at least contain your names and student nos, but you may make it
more interesting by adding, e-mail addresses, icons, images etc. 
<br/>
<br/>

You may ask for user names everytime game is over and store the scores, either in file or just in memory and show them when 'High Scores' is clicked in a JFrame that contains a JTable with those socres.


</p>

<h3>Hints</h3>
<ul>
  <li>
    Here is a sample word list file which consist of 1000 random words taken from my system: <a href="courses/spring13/CMP2004/hw/words-filtered.txt">words-filtered.txt</a>. You may read that file with your code, and generate words based on that or just take a small portion of it, and hardcode them into your code (e.g. create a static final array of 100 words take from this file).
  </li>
  <li>
    You may use <code class="prettyprint">Timer</code> classes instead of creating threads directly, it may make coding easier.
  </li>
  <li>
    Key events are not recieved by panels since they don't keep focus on them. You should add your <code class="prettyprint">KeyListener</code>s to top level parent of your component hierarchy, in other words, to your <code class="prettyprint">JFrame</code>.
  </li>
  <li>
    More hints may be added later...
  </li>
</ul>



<h3 id="h_honorcode">Honor Code</h3>
<p>
By sending a submission you are considered to sign the following honor code.
</p>

<p>

<i>
  On my honor as a student;
  <ul>
    <li>The work I have sent contains only my labor, except those I mentioned.
    If I used any other person's code, I attributed the source by writing URL of
    that source into appropriate place in my code.
    </li>
    <li>I might discuss about solution in Turkish or in English, but I have
    <b>never talked in Java or in any other programming language. This includes
      any kind of sharing complete or partial source code with other students.
    </b>
    </li>
    <li>In case I violate this code, I will accept any punishment regarding
    to evaluation of my project; including getting grade penalty, getting zero
    grade or disciplinary actions of university regulations.
    </li>
  </ul>
</i>

<p>
Upon inspection of your code, if there is a suspicion that you violate this
code, you will be asked to defend your work and respond to the questions about
your source code.
</p>

</p>

<h3 id="h_submission">Submission</h3>
<h4>WARNING</h4>
<p>
For this project you may form groups of <b><i>at most 2 people</i></b>, but 
only one group member will do the submission. And please make sure you follow 
honor code exactly, there won't be any tolerance.
<br/>
<br/>
You will be asked to <big><b><i>demonstrate</b></i></big> your project and 
<big><b><i>answer the questions</big></b></i> about your implementation. Make 
sure you know what is going on in your code; even if your project mate dealt 
with some parts, you are responsible from them, too. The amount of work done by 
member should be comparable, there shouldn't be too much difference in effort.
<br/>
<br/>
Demonstration schedule will be anounced here later.
</p>

<h4>Procedure</h4>
<p>
Please compress (.zip, .rar, etc.) your <b>project folder</b> that you can find
in your <b>workspace folder</b>. Before you compress your project, make sure
that you <b>delete "bin" folder</b> in your project folder, if there is one.
Rename your compressed file to your student numbers separated with an 
underscore (_) and prefixed with "Project_".
</p>
<p>
Send the file attached to <big><b>cmpe2004<img src="img/at-sign.png" style="width:
1em; height: 1em; padding-top: 0.5em"/>gmail.com</b></big> (note that it is cmpe not
cmp) from your student e-mail. See <a href="#example_submit">example submission</a>
for subject field.
After sending the mail you <b>should get an automated reply</b>. If you don't
get that it may be the case your submission is not received. Retry or give me
in-person.
</p>

<p>
Not doing any one of these will return as a 5% penalty in grade.
</p>

<h4 id="example_submit">Example Submission</h4>

Suppose the project members are Kemal Egemen OZDEN (student no: 1234567) and 
Ceyhun Can ULKER (student no: 1060626), then the submission should look like 
this: <br/>

<p>   To: cmpe2004<img src="img/at-sign.png" style="width: 1em; height: 1em;
padding-top: 0.5em"/>gmail.com 
<br/> Sender: ceyhuncan.ulker<img
src="img/at-sign.png" style="width: 1em; height: 1em; padding-top:
0.5em"/>stu.bahcesehir.edu.tr 
<br/> Subject: Project - Kemal Egemen OZDEN/Ceyhun Can ULKER - 1234567/1060626
<br/> Content: (You may leave empty here) 
<br/> Attachments: Project_1234567_1060626.rar
</p>
</p>

