<a href="javascript: loadContentFromPage('courses.html');">Back to Courses</a>
<h1>CMP2004 Advanced Programming</h1>
<h2>Lab Codes</h2>
<ol>
  <li><a href="courses/spring13/CMP2004/labcodes/Week2-Lab1.rar"> Lab Code -
    Week 2</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week3-Lab2.rar"> Lab Code -
    Week 3</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week4-Lab3.rar"> Lab Code -
    Week 4</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week5,6-Lab4,5.rar"> Lab Code -
    Week 5-6</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week7-Lab6.rar"> Lab Code -
    Week 7</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week8,9-Lab7,8.rar"> Lab Code -
    Week 8-9</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week10-Lab9.rar"> Lab Code -
    Week 10</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week11-Lab10.rar"> Lab Code -
    Week 11</a></li>
  <li><a href="courses/spring13/CMP2004/labcodes/Week13-Lab12.rar"> Lab Code -
    Week 13</a></li>
</ol>
<h2>Project</h2>
<ul>
  <li><a href="javascript:
    loadContentPretty('courses/spring13/CMP2004/hw/project.html'); ">Typing Game</a></li>
</ul>
<h2>Homeworks</h2>
<ol>
  <li><a href="javascript:
    loadContentPretty('courses/spring13/CMP2004/hw/hw1.html'); ">Homework I</a> 
  - <a href="courses/spring13/CMP2004/hw/Homework1_Solution.rar">Solution</a>
  </li>
  <li><a href="javascript:
    loadContentPretty('courses/spring13/CMP2004/hw/hw2.html'); ">Homework
    II</a></li>
</ol>
<h2>Quizzes</h2>
<p>There is a bounty on quizzes!</p> 
<p>If you find anything wrong with the questions or
answers provided and can convince me in-person, you will be awarded with some
modest quiz points. 
</p>
<ol>
  <li>
  <h4>Quiz - I</h4>
  <ol>
    <li><a href="javascript:
      loadContentPretty('courses/spring13/CMP2004/quiz/I-a.html');">Monday
      Section</a> - with Answers</li>
    <li><a href="javascript:
      loadContentPretty('courses/spring13/CMP2004/quiz/I-b.html');">Tuesday
      Section</a> - with Answers</li>
    <li><a href="javascript:
      loadContentPretty('courses/spring13/CMP2004/quiz/I-c.html');">Wednesday
      Section</a> - with Answers</li>
    <li><a href="javascript:
      loadContentPretty('courses/spring13/CMP2004/quiz/I-d.html');">Thursday
      Section</a> - with Answers</li>
  </ol>
  </li>
</ol>
<h2>Tutorials</h2>
<ul>
  <li>Setting Environment Variables</li>
  <li>Compiling &amp; Running Simple Java Applications from Commandline
  Interface</li>
  <li>Passing Commandline Arguments to Your Application</li>
  <li>Importing an Eclipse Project into Your Workspace</li>
  <li>Attaching JavaSE7 sources to your Eclipse</li>
</ul>
<p>Coming soon.</p>
<h2>Useful Links</h2>
<h4>Required/Recommended</h4>
<ul>
  <li><a
    href="http://www.oracle.com/technetwork/java/javase/downloads/index.html">JDK
    7 - Java Development Kit</a></li>
  <li><a
    href="http://eclipse.org/downloads/packages/eclipse-ide-java-developers/junosr2">
    Eclipse IDE for Java Developers - 4.2 - Juno</a></li>
</ul>
<h4>Resources &amp; How-To's</h4>
<ul>
  <li>
  <a href="http://docs.oracle.com/javase/tutorial/">The Java<sup>TM</sup>
    Tutorials</a>
  <br/>
  Tutorial for almost everything you could need for Java Standard Edition
  </li>
  <li>
  <a href="http://www.java2s.com/Code/Java/CatalogJava.htm">Java examples
    (java2s.com)</a>
  <br/>
  Example Java codes for many problems
  </li>
  <li>
  <a href="http://eclipsecolorthemes.org/?view=plugin">The Eclipse Color Theme
    Plugin </a>
  <br/>
  If you would like to customise the theme of your Eclipse editor, follow
  above link and read <i>Installation</i> and <i>Usage</i> parts.
  </li>
</ul>
<h4>Other IDEs</h4>
<ul>
  <li>
  <a href="http://www.netbeans.org">NetBeans IDE</a>
  <br/>
  A Java IDE with a beautiful GUI builder (Matisse) builtin.
  </li>
  <li>
  <a href="http://www.jetbrains.com/idea/">IntelliJ IDE</a>
  <br/>
  A powerful Java IDE with many useful features. You may download and use <a
    href="http://www.jetbrains.com/idea/#community">Community Edition</a>
  freely.
  </li>
</ul>
